
.do{
    border-bottom: 1px solid $color-text;
    padding-top: 100vw;
    background: url(../images/do/Image.jpg) no-repeat;
    background-position: top;
    background-size: contain;
    &__title{
        text-align: center;
        font-size: 8rem;
        font-weight: 300;
        line-height: 8rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        
    }
    &__list{
        &-title{
        font-size: 3.5rem;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 1rem;
        &::before{
            content: attr(number);
            font-weight: 400;
            margin-right: 1rem;
        }
        }
        &-desc{
        font-family: Inter;
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.8rem; 
        margin-bottom: 3rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid $color-text;
        &:last-child{
            border-bottom: none;
            margin-bottom: 0;
        }
        }

    }
}