.footer {
  border-top: 1px solid #252525;
  &__title {
    padding-top: 2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
  &__social-media {
    gap: 1rem;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {
    .footer{
      padding: 2rem 0 2rem 0;
    }
    .container-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}
