.container-selected{
    display: grid;
    gap: 3rem;
}
.selected-work{
    padding-top: 3rem;
    border-bottom: 1px solid $color-bg-dark;
    padding-bottom: 3rem;
    &__title{
            text-align: center;
            font-size: 8rem;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
            margin-bottom: 2rem;
        &-wrapper{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 3rem;
            margin-bottom: 3rem;
            &--right{
                justify-content: flex-end;
                margin-bottom: 0;
            }
        }
        &-text{
            text-align: left;
            font-size: 3.5rem;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            padding-top: 3rem;
            margin-bottom: 3rem;
        }
        &-btn{
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            height: 7rem;
            flex: 0 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.5rem 3rem;
            background: #FFF;
            border-radius: 3.5rem;
            gap: 1rem;
            &--dark{
                background:$color-bg-dark;
                color: $color-text-light;
                text-align: right;
               
            }
        }
    }
    &__last-btn{
        display: flex;
        padding: 1.5rem 6rem;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 5rem;
        background: #FFF;
        font-size: 1.8rem;
        font-weight: 400;
    }
}